.NavBar {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
}

.menuItemsContainer {
  text-align: right;
}

@media (max-width: 499px) {
  .navbar {
    display: none;
  }
}
