.menuItem {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 50px;
}

.menuItem:hover {
  background-color: #ffd14a;
}

.active {
  background-color: #ffd14a;
}

@media (max-width: 499px) {
  .menuItem {
    text-align: left;
    display: block;
  }
}
