.skills {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  background-color: #e7e7e7;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.skillList {
  /* border: 2px solid blue; */
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skillList div {
  /* border: 2px solid pink; */
  max-width: 370px;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
}
